<nav class="nav-bar">
    <div class="brand-page">
        <div class="brand-name"><h4>INVENTRIA</h4></div>
        <div class="page">{{ currentPage }}</div>
    </div>
    
    <!-- <div class="search-bar">
        <input type="text" placeholder="Search..." class="search" [(ngModel)]="searchText"/>
        <i class="fa-solid fa-magnifying-glass"></i>
    </div> -->
    <div class="navbar-icons">
        <div class="notifications">
            <i class="fa-solid fa-bell"></i>
        </div>
        <div class="profile">
            <img src="assets/Images/profile.jpg" alt="Profile" />
        </div>
    </div>
</nav> 