<nav class="nav-bar">
  <div class="page">
    <h4>{{ currentPage }}</h4>
  </div>

  <!-- <div class="search-bar">
        <input type="text" placeholder="Search..." class="search" [(ngModel)]="searchText"/>
        <i class="fa-solid fa-magnifying-glass"></i>
    </div> -->
  <div class="navbar-icons">
    <div class="notifications">
      <i class="fa-solid fa-bell"></i>
    </div>
    <div class="profile">
      <img src="assets/Images/profile.jpg" alt="Profile" />
    </div>
  </div>
</nav>
