button {
  background-color: #36018b;
}

form {
  background-color: #ffffff;
}

.add-submit {
  display: flex;
  justify-content: space-between;
}

td {
  width: 110px !important;
}

.order-form {
  padding: 24px;
}
