.stat-card{
    display: flex;
    flex-direction: column;
    border: 2px solid #e8e8e8;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
}