

<div class="login-form rounded shadow">
  <h4>Login</h4>
  <form (ngSubmit)="onLogin()">
    <tr>
      <td class="label"><label for="email">Email: </label></td>
      <td><input [(ngModel)]="email" name="email" placeholder="Email" required /> <br></td>
    </tr>
    <tr>
      <td class="label"><label for="password">Password: </label></td>
      <td><input [(ngModel)]="password" name="password" type="password" placeholder="Password" required /> <br></td>
    </tr>
  <button class="login-button rounded text-white" type="submit">Login</button>
</form>
<p>Don't have an account? <a routerLink="/register">Register here</a></p>
</div>
