<h5>📋 Current System Status</h5>
<div class="stat-cards d-flex gap-4 mb-6">
  <div class="stat-card bg-white p-4 rounded shadow">
    📦 Inventory Items: {{ inventory.length }}
  </div>
  <div class="stat-card bg-white p-4 rounded shadow">
    🔻 Low Stock Items: {{ lowStockCount }}
  </div>
  <div class="stat-card bg-white p-4 rounded shadow">
    📬 Orders: {{ orders.length }}
  </div>
  <div class="stat-card bg-white p-4 rounded shadow">
    ⏳ Pending Orders: {{ pendingOrders }}
  </div>
</div>
<div class="chart-section d-flex">
  <div class="charts-bar">
    <h5 class="text-xl font-semibold mt-6 mb-2">📦 Inventory Stock Levels</h5>
    <div class="barchart rounded shadow">
      <ngx-charts-bar-vertical
        [view]="[475, 300]"
        [scheme]="colorScheme"
        [results]="inventoryChartData"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="false"
        [showDataLabel]="true"
        [animations]="true"
      >
      </ngx-charts-bar-vertical>
    </div>
  </div>
  <div class="charts-pie">
    <h5 class="text-xl font-semibold mt-6 mb-2">📈 Order Status Overview</h5>
    <div class="piechart rounded shadow">
      <ngx-charts-pie-chart
        [view]="[475, 300]"
        [scheme]="colorScheme"
        [results]="orderStatusData"
        [legend]="true"
        [explodeSlices]="false"
        [labels]="true"
        [doughnut]="false"
        [animations]="true"
      >
      </ngx-charts-pie-chart>
    </div>
  </div>
</div>

<app-low-stock-modal
  *ngIf="showLowStockModal"
  [lowStockItems]="lowStockItems"
  [lowStockCount]="lowStockCount"
  (close)="onCloseModal()"
  class="fixed bottom-4 right-4 z-50"
>
</app-low-stock-modal>

<h4>📉 Stockout Risk</h4>

<select [(ngModel)]="sortKey" (change)="sortChart()">
  <option value="estimatedDaysLeft">Risk (Lowest First)</option>
  <option value="avgDailyConsumption">Consumption Rate</option>
</select>

<canvas
  baseChart
  [data]="barChartData"
  [labels]="barChartLabels"
  [options]="barChartOptions"
  [type]="'bar'"
>
</canvas>
