.submit{
    background-color: #36018b;
    padding: 10px 20px;
}

.add-cancel{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
}

.form-add-item{
    padding: 24px;
}

label{
    padding:5px 20px 5px 0 ;
}

